BOT_TOKEN=5191951105:AAESbK_-oU4DNWn195_w9uYy6Y_XUSmQiaI
ADMIN_IDS=574947799
API_SECRET=my-super-secret-key-for-website
PORT=8080
DB_PATH=cafe.db
CAFE_ADDRESS=ул. Примерная, д.1
CAFE_PHONE=+7 (999) 123-45-67
SITE_URL=https://solperets-production.up.railway.app/
WORK_HOURS=10:00–22:00